nav {
	width:100%;
	height:40px;
	background-color: rgb(214,50,232);
	position:fixed;
	margin:0px;
	top:0px;
	left:0px;
	z-index: 1;
}

.boxnav {
	width:80px;
	height: 20px;
	font-family: verdana;
	font-size:15px;
	font-style: bold;
	background-color: rgb(237,181,243);
	color:white;
	text-align: center;
	padding:10px;
}

.hdrlogo {
	float:left;
}

#logo {
	width:200px;
	height:190px;
	/*float:left;*/
	padding-top:30px;
}

div.pg1 {
	width:70%;
	height:900px;
	float:left;
	text-align: left;
	padding-top:30px;
	/*padding-left:200px;*/
}

header {
	width:60%;
	height:100px;
	padding-left:20px;
	padding-top:60px;
	padding-bottom:50px;
	/*position:absolute;
	top:0px;*/
	float:left;
	/*z-index: -1;*/
}

span.line {
	line-height: 10px;
}

span.line2 {
	line-height: 60px;
}

h1 {
	font-family: verdana, sans-serif;
	font-size: 50px;
	text-align: left;
}

h2 {
	font-size:26px;
	font-weight: normal;
	line-height: 0px;
}

nav ul {
	padding:0px;
	margin:0px;
	top:0px;
	text-align: center;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color:white;
    text-decoration: none;
}

a:hover, a:active {
    color: rgb(214,50,232);
    text-decoration: none;
}

.linkemail:link {
    color: rgb(214,50,232);
    text-decoration: none;
}

nav li {
 list-style-type: none;
 display: inline-block;
 padding:0px;
}

div.blueslist {
	color:black;
	font-size: 28px;
	margin-left: 100px;
	width: 900px;
	/*border:1px solid black;*/
	position:absolute;
	top:220px;
	left:150px;
}

div.blueslist ul.faces {
	list-style-type: none;
}

div.paras {
	/*margin-left: 100px;*/
	width: 100%;/*
	border:1px solid black;*/
	float:left;
	top:50px;
	text-align: center;
}

p.para1 {
	width: 290px;
	font-family: times;
	font-size: 16px;
	font-style: normal;
	padding-right:10px;
	padding-left:60px;
	float:left;
/*	position:absolute;
	left:130px;*/
	text-align: left;
}

p.para2 {
	width: 290px;
	font-family: times;
	font-size: 16px;
	font-style: normal;
	padding-right:10px;
	padding-left:10px;
	float:left;
/*	position:absolute;
	left:440px;*/
	text-align: left;
}

p.para3 {
	width: 400px;
	font-family: times;
	font-size: 16px;
	font-style: normal;
	padding-right:10px;
	/*padding-left:60px;*/
	float:left;
	/*position:absolute;
	left:130px;*/
	text-align: left;
}

p.para4 {
	width: 400px;
	font-family: times;
	font-size: 16px;
	font-style: normal;
	padding-right:10px;
	padding-left:10px;
	float:left;
/*	position:absolute;
	left:440px;*/
	text-align: left;
}

/*CSS styling for Issue 1 Shades*/
div.blueslist ul.faces {
	list-style-type: none;
}

div.shades {
	width: 100%; 
	margin: 0 auto;
	padding-top:30px;
	padding: 30px;
	position:absolute;
	top:260px;
	text-align: center;
	}

.grays {
	/*width: 200px;
	height: 200px;*/
	display: inline-block;
	/*float: left;*/
	/*margin: 0 auto;*/
}

/*CSS styling for Issue 3 Ho-Hum*/
div.excite {
	width: 1100px; 
	margin: 0 auto;
}

.car {
 /*   float: left;*/
   	/*background-image: url(..img/gray_car.jpg);*/
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	}
	/*border:1px dotted black;
	float:left;
	margin:10px;
	background-image: url(../assets/BabbleLg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;*/

/*CSS styling for the contact page*/
img#cheever {
    float: left;
    margin: 10px;
    background-image: url(../assets/jean_photo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 75%;
	animation: cause1-test 2s infinite linear; 
}

img#dangelo {
    float: left;
    margin: 10px;
   	background-image: url(../assets/myPhoto.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 75%;
	animation: cause2-test 2s infinite linear; 
	}
@keyframes cause1-test {
	0% {
		transform: rotateX(0deg);
	}
	100% {
		transform: rotateX(180deg);
	}
}
@keyframes cause2-test {
	0% {
		transform: rotateX(0deg);
	}
	100% {
		transform: rotateX(180deg);
	}
}

div.activist {
	width: 900px; 
	margin: 0 auto;
	padding-top:30px;
	padding: 30px;
	position:absolute;
	top:260px;
	display: block;
	font-size: 120%;
	text-align: justify;
}



