nav {
	width:100%;
	height:40px;
	background-color:lightblue;
	position:fixed;
	margin:0px;
	top:0px;
	left:0px;
}

.boxnav {
	width:80px;
	height: 20px;
	font-family: verdana;
	font-size:15px;
	font-style: bold;
	background-color: darkblue;
	color:white;
	text-align: center;
	padding:10px;
}

#logo {
	width:190px;
	height:190px;
	float:left;
	padding-top:30px;
}

p.page1 {
	font-family: times;
	font-size: 16px;
	font-style: normal;
	padding-top:10px;
	padding-right:10px;
	padding-left:10px;
}



header {
	width:700px;
	height:110px;
	font-family: verdana, sans-serif;
	font-size: 22px;
	text-align: left;
	padding-top:30px;
	float:left;
}

nav ul{
	padding:0px;
	margin:0px;
	top:0px;
	text-align: center;
}

a:link {
    color: lightblue;
    text-decoration: none;
}

a:visited {
    color: orange;   
    text-decoration: none;
}


a:hover, a:active {
    color: red;
    text-decoration: none;
}

nav li{
 list-style-type: none;
 display: inline-block;
 padding:0px;
}

/*CSS styling for Issue 1*/
div.shades {
	width: 80%; 
	margin: 0 auto;
	border: 1px solid;
	padding: 30px;
	text-align: center;

	}
.grays {
	width: 200px;
	height: 200px;
	display: inline-block;
	/*float: left;*/
	/*margin: 0 auto;*/
}

/*CSS styling for Issue 3*/
div.excite {
	width: 1100px; 
	margin: 0 auto;
	}

/*CSS styling for the contact page*/
img#cheever {
    float: left;
    margin: 10px;
	}
img#dangelo {
    float: right;
    margin: 10px;
	}
div.activist {
	width: 900px; 
	margin: 0 auto;
	display: block;
	font-size: 120%;
	text-align: justify;
	}

